*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@200;300;400;500&display=swap');

body{
	font-family: 'Roboto Slab', sans-serif;

}
:root{
	--blue:#00008b;
	--dark-blue:#001233;
	--light-blue:#edf7f7;
	--mint:#dff7f5;
	--sea:#81c8de;
}
.cleaner{
	clear:both;
}
 /* INDEX */
li{
	list-style-type:none;
	text-decoration:none;
}
header{
	width:100%;
	background-position:center;
	background-size:cover;
	position:relative;
}
.index{
	min-height:100vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background.jpg);
}
.nav{
	width:100%;
}
.wrap{
	width:70%;
	height:100%;
	margin:0px auto;
}
.nav-links{
	display:flex;
	align-content:center;
	justify-content:flex-end;
	padding:45px 0px;
}
.nav-links li{
	display:inline;
	padding:0px 10px;
}
.logo{
	float:left;
	width:160px;
	margin-top:10px;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	color:var(--mint);
}
.header-text{
	width:60%;
	margin:0px auto;
	text-align:center;
	color:#fff;
	padding-top:180px;
}
.title{
	font-size:50px;
}
.button{
	background-color:transparent;
	border:1px solid #fff;
	color:#fff;
	padding:15px;
	position:relative;
	top:30px;
}
a .button:hover{
	color:var(--mint);
}
.small-title{
	margin:30px auto;
	text-align:center;
	color:#454443;
}
/* CONTACT */
.contact{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background-contact.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.non-main{
	padding-top:90px;
}
.contact-info{
	background-color: var(--light-blue);
	width:48%;
	padding:75px 30px;
	margin:20px 0px;
	border-radius:30px;
	float:left;
}
.align{
	text-align:center;
}
.contact-text{
	font-size:25px;
	color:var(--blue);
	margin-bottom:30px;
	text-align:center;
}
.info{
	color:var(--red);
}
.align ul li p{
	color:var(--blue);
	margin:10px;
}
 /* FORM  */
.contact-form{
	background-color: var(--light-blue);
	width:47%;
	border-radius:30px;
	float:right;
	margin:20px 0px;
	padding:30px;
}
.area{
	margin:10px 0px;
}
input[type=text],input[type=email],input[type=subject]{
	border-radius:5px;
	border:1px solid var(--blue);
}
input[type=text]{
	width:200px;
}
input[type=email],input[type=subject]{
	width:99%;
}
.fname,.lname{
	width:46%;
	margin-bottom:5px;
}
.fname{
	float:left;
}
.lname{
	float:right;
	margin-right:3px;
}
textarea{
	width:99%;
	border-radius:5px;
	border-color:var(--blue);
}
label{
	color:var(--blue);
	margin-bottom:20px;
}
placeholder{
	color:var(--blue);
}
 /* FOOTER */
footer{
	background-color:var(--dark-blue);
	color:#fff;
}
footer .wrap{
	display:flex;
	justify-content:space-between;
}
.footer-content ul li{
	display:flex;
	justify-content:flex-end;
	font-size:15px;
	margin:5px 0px;
}
.footer-content img{
	padding-top:20px;
}
.footer-content h3{
	padding-top:35px;
	font-size:22px;
	margin:5px 0px;
	text-align:center;
}
#socials{
	font-size:25px;
	text-align:center;
}
.footer-content ul li a:hover,.footer-content #socials a:hover{
	color:var(--mint);
}
 /* ABOUT US */
 
.about{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background-about.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
 }
 .small-blocks{
	display:flex;
	justify-content:space-evenly;
	margin-bottom:20px;
 }
 .small-block{
	width:30%;
	text-align:center;
	padding:10px;
 }
 .small-block {
	 color:var(--blue);
 }
 .small-block:hover{
	 background-color:var(--mint);
 }
 .bcg{
	background-color:var(--mint);
}
 .wrapped{
	 width:60%;
	 margin:0px auto;
 }
 .about-us{
	 display:flex;
	 justify-content:center;
	 margin-bottom:30px;
 }
 .about-us .wrapped{
	 display:flex;
	 justify-content:center;
	 margin:25px 0px;
 }
 article{
	 width:48%;
	 margin:0px;
 }
 article img{
	 width:410px;
	 margin:10px 0px;
 }
 article p{
	 color:var(--blue);
 }
 .border{
	 border-left:2px solid var(--mint);
	 padding-left:30px;
	 padding-top:0px;
 }
 .padding{
	 padding:0px 0px;
	 padding-right:30px;
 }
.margin-top{
	margin-top:10px;
}
/* PEOPLE */

.meet-us{
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-evenly;
	 padding-bottom:30px;
}
.people{
	width:300px;
	margin:20px auto;
	text-align:center;
}
.people img{
	width:250px;
	border-radius:50%;
	box-shadow:2px 5px 5px 2px var(--mint);
}
.name{
	font-size:25px;
}
.meet{
	font-size:25px;
	color:var(--blue);
	text-align:center;
}
.gradient{
	background-image: linear-gradient(var(--light-blue),var(--mint));
}
/* ADMISSIONS */

.admissions{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/admissions.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
 }
.why{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	margin:30px 0px;
}
.why p{
	width:60%;
}
.why h2{
	font-size:40px ;
	font-weight: 400;
	padding:10px;
	color:var(--blue);
	background-image:linear-gradient(var(--sea), var(--sea));
	background-size: 100% 5px;
	background-repeat:no-repeat;
	background-position:100% 0%;
	transition:background-size .7s, background-position .5s ease-in-out;
}
.why h2:hover {
	background-size:100% 100%;
	background-position:0% 100%;
	transition:background-position .7s, background-size .5s ease-in-out;
}
.bold{
	font-size:20px ;
	font-weight: 600;
	color:var(--blue);
}
.reasons{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	margin:20px auto;
	
}
.reason{
	width:25%;
	display:flex;
	flex-direction:column;
	text-align:center;
	background-color:var(--mint);
	padding:40px;
}
.reason .fa{
	font-size:50px;
	margin-bottom:20px;
}
.reason h2{
	color:var(--blue);
	margin-bottom:15px;
}
.reason a{
	margin-top:15px;
	color:var(--blue);
	background-color:var(--sea);
	border-radius:30px;
	padding:10px;
	border:3px solid var(--sea);
}
.reason a:hover{
	background-color:#fff;
	border:3px solid var(--sea);
}
.careers h3,.careers p{
	color:var(--blue);
}
.careers p{
	font-size:18px;
}
.careers h3{
	padding-top:20px;
	margin-bottom:10px;
	font-size:30px ;
	font-weight: 600;
}
.career{
	width:23%;
	height:300px;
	background-position:center;
	background-size:cover;
	position:relative;
	margin:10px 0px;
}
.career p{
	color:#fff;
	padding-top:240px;
	font-size:20px;
	padding-bottom:35px;
}
.eng{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/engineer.jpg);
}
.law{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/lawyer.jpg);
}
.doc{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/doctor.jpg);
}
.dentist{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/dentist.jpg);
}
.teacher{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/teacher.jpg);
}
.art{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/artist.jpg);
}
.psych{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/psych.jpg);
}
.architect{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/architect.jpg);
}
#jobs{
	padding-top:20px;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:30px;
}
.reason a,.career a{
    cursor: pointer;
}
.career :hover{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.50));
}
