*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@200;300;400;500&display=swap');

body{
	font-family: 'Roboto Slab', sans-serif;

}
:root{
	--blue:#00008b;
	--dark-blue:#001233;
	--light-blue:#edf7f7;
	--mint:#dff7f5;
	--sea:#81c8de;
	--blue-bcg:#00356b;
}
.cleaner{
	clear:both;
}
 /* INDEX */
li{
	list-style-type:none;
	text-decoration:none;
}
header{
	width:100%;
	background-position:center;
	background-size:cover;
	position:relative;
}
.index{
	min-height:100vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background.jpg);
}
.wrap{
	width:70%;
	height:100%;
	margin:0px auto;
}
.nav-links{
	display:flex;
	align-content:center;
	justify-content:flex-end;
	padding:45px 0px;
}
.nav-links li{
	display:inline;
	padding:0px 10px;
}
a{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
a:hover{
	color:var(--mint);
}
nav a {
    transition:all 400ms;
    transition-duration:400ms;
    transition-timing-function:ease;
    transition-delay:0s;
	transition-property:all;
	border-bottom:2px solid transparent;
}
.nav-links ul li a:hover{
	border-bottom:2px solid #fff;
    padding:5px 0px;
}
.hover{
	border-bottom:1px solid #fff;
    padding:5px 0px;
}
.logo{
	float:left;
	width:160px;
	margin-top:10px;
}
.header-text{
	width:60%;
	margin:0px auto;
	text-align:center;
	color:#fff;
	padding-top:180px;
}
.title{
	font-size:50px;
}
.button{
	background-color:transparent;
	border:1px solid #fff;
	color:#fff;
	padding:15px;
	position:relative;
	top:30px;
}
a .button:hover{
	color:var(--mint);
}
#university{
	width:100%;
	background-color:var(--blue-bcg);
	display:flex;
	justify-content:center;
	position:relative;
	padding:70px 0px;
}
.column{
	display:flex;
	flex-direction:column;
	z-index:1;
}
.row{
	display:flex;
	align-items:flex-end;
	z-index:1;
}
.square{
	background-position:center;
	background-size:cover;
	position:relative;
	width:230px;
	height:230px;
	padding-left:10px;
}
.square:hover{
	cursor:pointer;
}
.square:hover p,.bigger:hover p{
	transform:translateY(-50%);
}
.square h2{
	font-size:20px;
	padding-top:140px;
	padding-bottom:10px;
	color:#fff;
}
.square a,#find a{
	font-weight:bold;
	padding:5px 10px;
	color:#fff;
	background-color:var(--blue-bcg);
	border-radius:30px;
	border-bottom:3px solid #fff;
	border-top:3px solid #fff;
}
.square a:hover,#find a:hover{
	color:var(--blue-bcg);
	background-color:#fff;
}
.square p{
	position:absolute;
	bottom:8px;
	left:16px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
}
.majors{
	background-image:linear-gradient(rgba(40, 109, 192, 0.3), rgba(40, 109, 192, 0.3)),url(../img/major.jpg);
}
.arch{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/arch.jpg);
}
.eng{
	background-image:linear-gradient(rgba(40, 109, 192, 0.3), rgba(40, 109, 192, 0.3)),url(../img/eng.jpg);
}
.art{
	background-image:linear-gradient(rgba(40, 109, 192, 0.3), rgba(40, 109, 192, 0.3)),url(../img/art.jpg);
}
.law{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/lawy.jpg);
}
.psych{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/psychology.jpg);
}
.teach{
	background-image:linear-gradient(rgba(40, 109, 192, 0.3), rgba(40, 109, 192, 0.3)),url(../img/teach.jpg);
}
.den{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/den.jpg);
}
.bigger{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/lab.jpg);
	width:600px;
	height:600px;
	position:absolute;
	right:220px;
	top:0px;
}
.bigger p{
	position: absolute;
	bottom: 120px;
	left: 120px;
	font-size:25px;
	z-index:3;
}
.experience{
	background-position:center;
	background-size:cover;
	position:relative;
	height:400px;
	margin:20px 0px;
}
.experience h2{
	color:#fff;
	text-align:left;
	position:absolute;
	bottom:0px;
	left:10px;
	transition:transform 1s;
	word-wrap: break-word;
}
.experience p{
    transition:transform 1s;
	display:block;
    overflow: hidden;
    opacity: 0;
	text-align:left;
	position:absolute;
	bottom:-120px;
	left:10px;
	font-size:17px;
}
.experience:hover p{
	transform:translateY(-50%);
	text-align:left;
	position:absolute;
	bottom:0px;
	left:10px;
	opacity:5;
	color:#fff;
}
.experience:hover h2{
	transform:translateY(-200%);
	text-align:left;
	position:absolute;
	bottom:70px;
	left:10px;
	opacity:5;
}

.exp{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/academic.jpg);
}
.disc{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/discovery.jpg);
}
.learner{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/learner.jpg);
}
#path{
	background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),url(../img/path-bcg.jpg);
	width:100%;
	background-position:center;
	background-size:cover;
	position:relative;
	min-height:60vh;
}
#find{
	position:relative;
	left:900px;
	top:110px;
	width:450px;
	height:250px;
	border:2px solid #fff;
	padding:20px;
	color:#fff;
	background-color:var(--blue-bcg);
	
}

#find h3{
	font-size:25px;
	margin-bottom:5px;
}
#find p{
	font-size:17px;
	margin-bottom:15px;
}
.margin-right{
	margin-right:10px;
}


 /* FOOTER */
footer{
	background-color:var(--blue-bcg);
	color:#fff;
}
footer .wrap{
	display:flex;
	justify-content:space-between;
}
.footer-content{
	width:25%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.footer-content ul li{
	display:flex;
	align-items:center;
	font-size:15px;
	margin:5px 15px;
}
.footer-content ul{
	display: grid;
    grid-template-columns: repeat(2, auto);
}
.footer-content h3{
	font-size:22px;
	margin:5px 0px;
	text-align:center;
}
#socials{
	font-size:25px;
	text-align:center;
}
.footer-content ul li a:hover,.footer-content #socials a:hover{
	color:var(--mint);
}



 /* ABOUT US */
 
.about{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background-about.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
 }
 .small-blocks{
	display:flex;
	justify-content:space-evenly;
	margin-bottom:20px;
 }
 .small-block{
	width:30%;
	text-align:center;
	padding:10px;
 }
 .small-block {
	 color:var(--blue);
 }
 .small-block:hover{
	 background-color:var(--mint);
 }
 .bcg{
	background-color:var(--mint);
}
 .wrapped{
	 width:60%;
	 margin:0px auto;
 }
 .about-us{
	 display:flex;
	 justify-content:center;
	 margin-bottom:30px;
	 color:var(--blue);
 }
 .about-us p{
	 font-size:17px;
 }
 .about-us .wrapped{
	 display:flex;
	 justify-content:center;
	 margin:25px 0px;
 }
 article{
	 width:48%;
 }
 .about-img{
	 width:410px;
	 margin:10px 0px;
 }
 .border{
	 border-left:2px solid var(--mint);
	 padding-left:30px;
	 padding-top:0px;
 }
 .padding{
	 padding-right:30px;
 }
.margin-top{
	margin-top:10px;
}
/* PEOPLE */

.meet-us{
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-evenly;
	 padding-bottom:30px;
}
.people{
	width:300px;
	margin:20px auto;
	text-align:center;
	color:var(--blue);
}
.people img{
	width:250px;
	border-radius:50%;
	box-shadow:2px 5px 5px 2px #c6cdcf;
}
.name{
	font-size:25px;
}
.meet{
	font-size:25px;
	padding-top:10px;
	color:var(--blue);
	text-align:center;
}
.gradient{
	background-image: linear-gradient(var(--light-blue),var(--mint));
}
/* ADMISSIONS */

.admissions{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/admissions.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
 }
.why{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	margin:30px 0px;
}
.why p{
	width:60%;
}
.why h2{
	font-size:40px ;
	font-weight: 400;
	padding:10px;
	color:var(--blue);
	background-image:linear-gradient(var(--sea), var(--sea));
	background-size: 100% 5px;
	background-repeat:no-repeat;
	background-position:100% 0%;
	transition:background-size .7s, background-position .5s ease-in-out;
}
.why h2:hover {
	background-size:100% 100%;
	background-position:0% 100%;
	transition:background-position .7s, background-size .5s ease-in-out;
}
.bold{
	font-size:20px ;
	font-weight: 600;
	color:var(--blue);
}
.reasons{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	margin:20px auto;
	
}
.reason{
	width:25%;
	display:flex;
	flex-direction:column;
	text-align:center;
	background-color:var(--mint);
	padding:40px;
}
.reason .fa{
	font-size:50px;
	margin-bottom:20px;
}
.reason h2{
	color:var(--blue);
	margin-bottom:15px;
}
.reason a{
	margin-top:15px;
	color:var(--blue);
	background-color:var(--sea);
	border-radius:30px;
	padding:10px;
	border:3px solid var(--sea);
}
.reason a:hover{
	background-color:#fff;
	border:3px solid var(--sea);
}
.experience h2{
	color:#fff;
}
.careers h3,.careers p{
	color:var(--blue);
}
.careers p{
	font-size:18px;
}
.careers h3{
	padding-top:20px;
	margin-bottom:10px;
	font-size:30px ;
	font-weight: 600;
}
.career{
	width:23%;
	height:300px;
	background-position:center;
	background-size:cover;
	position:relative;
	margin:10px 0px;
}
.career p{
	color:#fff;
	padding-top:240px;
	font-size:20px;
	padding-bottom:35px;
}
.engineer{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/engineer.jpg);
}
.lawyer{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/lawyer.jpg);
}
.doctor{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/doctor.jpg);
}
.dentist{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/dentist.jpg);
}
.teacher{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/teacher.jpg);
}
.artist{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/artist.jpg);
}
.psychologist{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/psych.jpg);
}
.architect{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.9)),url(../img/architect.jpg);
}
#jobs{
	padding-top:20px;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:30px;
}
.reason a,{
    cursor: pointer;
}
.career :hover{
	background-image:linear-gradient(180deg,rgba(29,29,29,0),rgba(29,29,29,.10) 27.44%,rgba(29,29,29,.50));
}
/* GALLERY */

.hor{
	display:flex;
	justify-content:center;
	margin:20px 0px;
	
}
.hor img{
	width:24%;
	margin-right:15px;
    transition: .3s ease-in-out;
}
.hor :hover{
	transform: scale(1.05);
}
/* CONTACT */
.contact{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background-contact.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.non-main{
	padding-top:90px;
}
.contact-info{
	background-color: var(--mint);
	width:48%;
	padding:75px 30px;
	margin:20px 0px;
	border-radius:30px;
	float:left;
}
.align{
	text-align:center;
}
.contact-text{
	font-size:25px;
	color:var(--blue);
	margin-bottom:30px;
	text-align:center;
}
.info{
	color:var(--red);
}
.align ul li p{
	color:var(--blue);
	margin:10px;
}
 /* FORM  */
.contact-form{
	background-color: var(--mint);
	width:47%;
	border-radius:30px;
	float:right;
	margin:20px 0px;
	padding:30px 30px 10px 30px;
}
.area{
	margin:10px 0px;
}
input[type=text],input[type=email],input[type=subject]{
	border-radius:5px;
	border:1px solid var(--blue);
}
input[type=text]{
	width:189px;
}
input[type=email],input[type=subject]{
	width:99%;
}
.fname,.lname{
	width:46%;
	margin-bottom:5px;
}
.fname{
	float:left;
}
.lname{
	float:right;
	margin-right:3px;
}
textarea{
	width:99%;
	border-radius:5px;
	border-color:var(--blue);
}
label{
	color:var(--blue);
	margin-bottom:20px;
}
placeholder{
	color:var(--blue);
}
.submit-btn{
	font-size:15px;
	padding:5px 15px;
	color:var(--blue);
	background-color:var(--sea);
	border-radius:30px;
	border:3px solid var(--sea);
}
.submit-btn:hover{
	background-color:#fff;
	border:3px solid var(--sea);
}

/* AUTHOR */

.nav-bcg{
	background-color:var(--blue-bcg);
}
#author{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
#about-author,#author article img{
	width:400px;
}
#about-author h1{
	font-size:30px;
	margin-bottom:10px;
}
