*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
@font-face{
	src:url(../fonts/Roboto_slab/static/RobotoSlab-Regular.TTF);
	font-family:'Rob';
}
body{
	font-family: 'Rob';
}
:root{
	--red:#00008b;
	/* --red:#f7483b; */
	/* --blue:#100a47; */
	--blue:#001233;
	--cream:#dfe6e8;
	--mint:#c8f3f4;
}
.cleaner{
	clear:both;
}
 /* INDEX */
li{
	list-style-type:none;
	text-decoration:none;
}
header{
	width:100%;
	background-position:center;
	background-size:cover;
	position:relative;
}
.index{
	min-height:100vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background.jpg);
}
.nav{
	width:100%;
}
.wrap{
	width:70%;
	height:100%;
	margin:0px auto;
}
.nav-links{
	display:flex;
	align-content:center;
	justify-content:flex-end;
	padding:45px 0px;
}
.nav-links li{
	display:inline;
	padding:0px 10px;
}
.logo{
	float:left;
	width:160px;
	margin-top:10px;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	color:var(--cream);
}
.header-text{
	width:60%;
	margin:0px auto;
	text-align:center;
	color:#fff;
	padding-top:180px;
}
.title{
	font-size:50px;
}
.button{
	background-color:transparent;
	border:1px solid #fff;
	color:#fff;
	padding:15px;
	position:relative;
	top:30px;
}
a .button:hover{
	color:var(--cream);
}
.small-title{
	margin:30px auto;
	text-align:center;
	color:#454443;
}
/* CONTACT */
.contact{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background-contact.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.non-main{
	padding-top:90px;
}
.contact-info{
	background-color: var(--cream);
	width:48%;
	padding:75px 30px;
	margin:20px 0px;
	border-radius:30px;
	float:left;
}
.align{
	text-align:center;
}
.contact-text{
	font-size:25px;
	color:var(--red);
	margin-bottom:30px;
	text-align:center;
}
.info{
	color:var(--red);
}
.align ul li p{
	color:var(--blue);
	margin:10px;
}
 /* FORM  */
.contact-form{
	background-color: var(--cream);
	width:47%;
	border-radius:30px;
	float:right;
	margin:20px 0px;
	padding:30px;
}
.area{
	margin:10px 0px;
}
input[type=text],input[type=email],input[type=subject]{
	border-radius:5px;
	border:1px solid var(--red);
}
input[type=text]{
	width:200px;
}
input[type=email],input[type=subject]{
	width:99%;
}
.fname,.lname{
	width:46%;
	margin-bottom:5px;
}
.fname{
	float:left;
}
.lname{
	float:right;
	margin-right:3px;
}
textarea{
	width:99%;
	border-radius:5px;
	border-color:var(--red);
}
label{
	color:var(--blue);
	margin-bottom:20px;
}
placeholder{
	color:var(--blue);
}
 /* FOOTER */
footer{
	background-color:var(--blue);
	color:#fff;
}
footer .wrap{
	display:flex;
	justify-content:space-between;
}
.footer-content ul li{
	display:flex;
	justify-content:flex-end;
	font-size:15px;
	margin:5px 0px;
}
.footer-content img{
	padding-top:20px;
}
.footer-content h3{
	padding-top:35px;
	font-size:22px;
	margin:5px 0px;
	text-align:center;
}
#socials{
	font-size:25px;
	text-align:center;
}
.footer-content ul li a,.footer-content #socials a:hover{
	color:var(--cream);
}
 /* ABOUT US */
 
.about{
	min-height:60vh;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/background-about.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
 }
 .small-blocks{
	display:flex;
	justify-content:space-evenly;
	margin-bottom:20px;
 }
 .small-block{
	width:30%;
	text-align:center;
	padding:10px;
 }
 .small-block h2{
	 color:var(--red);
 }
 .small-block p{
	 color:var(--blue);
	 font-weight:bold;
 }
 .small-block:hover{
	 background-color:var(--cream);
 }
 .bcg{
	background-color:var(--cream);
}
 .wrapped{
	 width:60%;
	 margin:0px auto;
 }
 .about-us{
	 display:flex;
	 justify-content:center;
	 margin-bottom:30px;
 }
 .about-us .wrapped{
	 display:flex;
	 justify-content:center;
	 margin:25px 0px;
 }
 article{
	 width:48%;
	 margin:0px;
 }
 article img{
	 width:410px;
	 margin:10px 0px;
 }
 article p{
	 color:var(--blue);
 }
 .border{
	 border-left:2px solid var(--cream);
	 padding-left:30px;
	 padding-top:0px;
 }
 .padding{
	 padding:0px 0px;
	 padding-right:30px;
 }
.margin-top{
	margin-top:10px;
}
/* PEOPLE */

.meet-us{
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-evenly;
	 padding-bottom:30px;
}
.people{
	width:300px;
	margin:20px auto;
	text-align:center;
}
.people img{
	width:250px;
	border-radius:50%;
	box-shadow:2px 5px 5px 2px var(--cream);
}
.name{
	font-size:25px;
}
.meet{
	font-size:25px;
	color:var(--red);
	text-align:center;
}
.gradient{
	background-image: linear-gradient(#fff,var(--mint));
}
